<nav>
  <div class="nav-container">
    <h3 class="py-1">Story Book</h3>
    <ul>
      <li>stories</li>
     <a href="/dashboard"> <li>home</li></a>
      <a href="/auth/logout"><li>logout</li></a>
    </ul>
  </div>
</nav>