<h1>Story Books</h1>
<div class="section">
  <p class="lead">
    Create public and private stories about <em>anything</em>
  </p>
</div>
<div class="divider"></div>
<div class="section">
  <a href="/auth/google" class="btn red dark">
  Log in with Google
  </a>
</div>