p {
	margin: 5px 0 !important;
}

.login-container {
	width: 45% !important;
}

.fa-small {
	font-size: 16px !important;
}

.btn-float {
	float: left;
	margin-right: 10px;
}

.img-small {
	width: 180px;
}

.error {
	background-color: rgb(212, 158, 31);
}
