body {
	font-family: 'Raleway', sans-serif;
}
p {
	margin: 5px 0 !important;
}

.login-container {
	margin: 0 auto;
	text-align: center;
}

.fa-small {
	font-size: 16px !important;
}

.btn-float {
	float: left;
	margin-right: 10px;
}

.img-small {
	width: 180px;
}

.error {
	background-color: rgb(212, 158, 31);
}

@media (min-width: 900px) {
	.login-container {
		width: 45% !important;
	}
}
